body {
    margin: 0;
    padding: 0;
    background-color: #c2bf97;
}
nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: beige;
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 1;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: right;
    margin-left: 40px; 
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
nav ul li a:hover {
    background-color: #ce935a;
}


.container {
    position: absolute; 
    margin: 0 auto;
    width: 850px;
    place-items: center;
    padding: 0px;
    width: 100vw; /* Its width will be the same as the screen width */
    height: 100vh; /* Its height will be as much as the screen height */
    overflow: hidden; /* Will hide excess content */
    display:flex; /* We will use flex to edit the content */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers content vertically */
}
footer{
    position: fixed;
    color: rgb(99, 96, 96);
    width: 100%;
    bottom: 0px;
    text-align: center;
    z-index: 1;
}

.image img{
    position: absolute;
    height: 100px;
    width: 290px;
    top: 530px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.image  a:hover {
    width: 320px;
    height: 100px;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.1);
}
.image a{
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
    color: rgba(255, 255, 255, 0);
}

.image2 img{
    position: absolute;
    height: 250px;
    width: 180px;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image3 img{
    z-index: -1;
    max-width: 100%; /* The maximum width of the image is set according to the container */
    max-height: 100%; /* The maximum height of the image is set according to the container */
    object-fit: contain;
    
}
.overlay {
    position: absolute; /* To put it on the image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));/* Desired gradient */
    z-index: 0;
  }
.text {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px  #5f330f;

  }
  .con{
    position: absolute; 
    margin: 0 auto;
    width: 850px;
    padding: 0px;
    width: 100vw; /* Its width will be the same as the screen width */
    height: 100vh; /* Its height will be as much as the screen height */
    display:flex; /* We will use flex to edit the content */
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers content vertically */
    top: -450px;
    right: 380px;

  }
  .image4{
    position: relative; /* Will be positioned according to the .image4 container */
    top: -50px;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers content vertically */
    object-fit: contain;
    
  }
  .image4 img{
    position: absolute;
    top: 80px;
    z-index: 1;
    width: 700px;
}

.text-1 {
    position: absolute;
    text-align: justify;
    top: 230px;
    z-index: 1;
    display: block;
    width: 450px;
    left: 110px;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px  #5f330f;
  }
 
  .image5 img{
    position: absolute;
    top: 102%;
    z-index: 1;
    width: 500px;
    height: 110px;
    left: 56%;
    object-fit: contain;
    border-radius: 20px;
}
.text-2 {
    position: absolute;
    text-align: justify;
    top: 117%;
    z-index: 1;
    display: block;
    width: 650px;
    left: 53%;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px  #5f330f;
  }
